@font-face {
    font-family: 'Futura';
    src: url('./futura-md.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('./futura-md-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url('./futura-md-bt-medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('./futura-md-bt-medium-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura';
    src: url('./futura-md-bt-bold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('./futura-md-bt-bold-italic.ttf') format('truetype');
    font-weight: bolder;
    font-style: italic;
}