@use 'layer';
@use '../../CarouselControl.scss';

.carousel__swipe-indicator {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.carousel__swipe-indicator-content-container {
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
}

.carousel__swipe-indicator-content {
    display: flex;
    z-index: 5;

    width: 100%;
    height: 100%;

    padding-right: 5em;
    padding-left: 5em;

    flex-direction: column;
    justify-content: center;
    align-items: end;
}