@use 'layer';

.carousel__control-bg {
    @extend .layer;
}

@keyframes rainbow-loop {
    from { background-position: 0% 50%; }
    to { background-position: 100% 50%; }
}

.carousel__control-bg--flash {
    z-index: 2;

    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), #00000000)
}