@use 'layer';
@use 'mixins' as *;

.slide-name-card {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    perspective: 1000px;

    transform-style: preserve-3d;
}

.slide-name-card__layer {
    @extend .layer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-name-card__layer--front {
    z-index: 1;
    
}

.slide-name-card__front {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10vh 10vw;
    gap: 32px;

    flex-direction: column;
    overflow-y: auto;

    @include breakpoint(xl) {
        flex-direction: row;
    }
}

.slide-name-card__name-container {
    position: relative;
    display: flex;

    width: fit-content;
    height: fit-content;
    box-sizing: border-box;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint(lg) {
        width: 100%;
        height: 100%;
    }
}

.slide-name-card__name {
    display: flex;
    width: 100%;
    height: fit-content;

    flex-direction: column;
    justify-content: center;

    @include breakpoint(lg) {
        height: 100%;
    }
}

.slide-name-card__name-text {
    color: white;
    width: 100%;
    text-align: center;

    @include breakpoint(xl) {
        text-align: left;
    }
}

.slide-name-card__name-text--intro {
    margin: -0.3em 0;
    font-size: 0.75em;
    font-weight: 200;
    word-break: break-all;

    @include breakpoint(sm) {
        font-size: 1.5em;
    }

    @include breakpoint(md) {
        font-size: 2.25em;
    }

    @include breakpoint(lg) {
        font-size: 2.75em;
    }
}

.slide-name-card__name-text--title {
    margin: -0.1em 0 -0.2em 0;

    font-size: 3.2em;
    font-weight: bold;
    word-break: keep-all;

    @include breakpoint(sm) {
        font-size: 5em;
    }

    @include breakpoint(md) {
        font-size: 6.5em;
    }

    @include breakpoint(lg) {
        font-size: 8em;
    }
}

.slide-name-card__name-text--subtitle {
    margin: -0.3em 0 0.2em 0;
    font-size: 1em;
    font-weight: bold;
    word-break: keep-all;

    @include breakpoint(sm) {
        font-size: 1.75em;
    }

    @include breakpoint(md) {
        font-size: 2.5em;
    }

    @include breakpoint(lg) {
        font-size: 3em;
    }
}

.slide-name-card__name-text--description {
    color: gray;
    font-size: 1em;
    font-weight: 300;

    @include breakpoint(sm) {
        font-size: 1.33em;
    }

    @include breakpoint(md) {
        font-size: 1.66em;
    }

    @include breakpoint(lg) {
        font-size: 2em;
    }
}

.slide-name-card__name-text--small {
    color: rgb(94, 94, 94);
    font-size: 1em;
    font-weight: 300;

    @include breakpoint(sm) {
        font-size: 1.33em;
    }

    @include breakpoint(md) {
        font-size: 1.66em;
    }

    @include breakpoint(lg) {
        font-size: 1.85em;
    }
}

.slide-name-card__picture-container {
    display: flex;
    width: 100%;

    @include breakpoint(xl) {
        width: fit-content;
    }
}

.slide-name-card__picture {
    display: flex;
    width: 100%;

    flex-direction: row;
    justify-content: center;

    @include breakpoint(xl) {
        justify-content: end;
    }
}

.slide-name-card__picture-image {
    width: 100%;
    max-width: 40vw;
    object-fit: scale-down;
}