@use "sass:math";
@use 'layer';
@use 'mixins' as *;


.slide-loading {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.slide-loading__layer {
    @extend .layer;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-loading__layer--spam {
    z-index: 2;
}

.slide-loading__spam {
    display: flex;
    width: 50%;
    height: 50%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    will-change: opacity transform;
}

.slide-loading__spam-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.slide-loading__layer--icon {
    z-index: 1;
}

.slide-loading__icon {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-loading__icon-container {
    position: relative;
    display: flex;
    width: 50%;
    height: 50%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide-loading__icon-container-blur {
    @extend .layer;
    display: none;
    width: 150%;
    height: 150%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0.25;
    filter: blur(10px);

    @include breakpoint(lg) {
        display: flex;
    }
}

.slide-loading__icon-part-layer {
    @extend .layer;

    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    will-change: transform;
}

.slide-loading__icon-path {
    $path-length: 23.456764221191406;
    $visible-percent: 0.1911;
    $visible-length: $path-length * $visible-percent;
    $invisible-length: $path-length * (1 - $visible-percent);

    stroke-dasharray: $visible-length $invisible-length;

    will-change: stroke-dashoffset;
}

.slide-loading__icon-path--reversed {
    transform-box: fill-box;
    transform-origin: center;
    transform: rotate(180deg);

    will-change: stroke-dashoffset;
}