@use 'layer';
@use 'mixins' as *;

.carousel__slide-dot {
    --slant-amount: 30deg;

    display: flex;
    min-height: 2rem;
    width: auto;
    min-width: 0.5rem;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
    box-shadow: 8px 8px;

    transform: skewX(calc(var(--slant-amount) * -1));


}

.carousel__slide-dot-counterskew {
    transform: skewX(var(--slant-amount));
}

.carousel__slide-dot-clip {
    display: flex;
    width: 0;
    overflow: hidden;
}

.carousel__slide-dot-text {
    white-space: nowrap;
    font-size: 0.85em;
}

