@use 'layer';

.carousel__slide-dot {
    --slant-amount: 30deg;

    display: flex;
    width: min-content;
    min-width: 5rem;
    padding: 0.5em;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
    transform: skewX(calc(var(--slant-amount) * -1));

}

.carousel__slide-dot-counterskew {
    transform: skewX(var(--slant-amount));
}

