@use 'layer';

.carousel__slide-dots {
    display: flex;
    width: fit-content;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: red;

    overflow: hidden;
    pointer-events: none;
}