@use 'layer';

.carousel__slide-dots-position {
    display: flex;
    width: 100%;
    min-height: 10%;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carousel__slide-dots-track {
    display: flex;
    width: 0;
}

.carousel__slide-dots-track--ghost {
    position: absolute;
    visibility: hidden;
}

.carousel__slide-dots {
    display: flex;
    width: fit-content;
    padding: 0 1em 1em 1em;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}