@use 'layer';

.carousel__slide-dots {
    display: flex;
    width: fit-content;
    padding: 0 1em 1em 1em;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;

    overflow: hidden;
    pointer-events: none;
}

.carousel__slide-dots-position {
    display: flex;
    width: 100%;
    height: 10%;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}