.carousel__buttons {
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 1;

    flex-direction: row;

    pointer-events: none;;
}

.carousel__button-container {
    display: flex;
    flex-direction: row;

    width: 50%;
    height: 100%;
}

.carousel__button-container--left {
    justify-content: start;
}

.carousel__button-container--right {
    justify-content: end;
}