@use 'layer';
@use '../../CarouselControl.scss';

.carousel__button {
    position: relative;
    display: flex;
    height: 100%;
    
    padding: 0;
    flex-direction: column;
    justify-content: center;

    border: 0;
    background-color: transparent;

    pointer-events: all;
    cursor: pointer;

    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.carousel__button-contents {
    display: flex;
    z-index: 3;

    flex-direction: column;
    justify-content: center;

    pointer-events: none;
}