@use 'layer';

.carousel__button {
    position: relative;
    display: flex;
    height: 100%;
    
    padding: 0;
    flex-direction: column;
    justify-content: center;

    border: 0;
    background-color: transparent;

    pointer-events: all;
    cursor: pointer;

    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.carousel__button-bg {
    @extend .layer;
}

.carousel__button-bg--rainbow {
    z-index: 1;

    opacity: 0;
    background-image: linear-gradient(
        to right,
        rgb(255, 162, 162),
        rgb(255, 209, 124),
        rgb(255, 255, 127),
        rgb(125, 255, 125),
        rgb(129, 129, 255),
        rgb(203, 125, 255),
        rgb(255, 127, 255),
        rgb(255, 126, 126)
    );
    background-size: 10000% 100%;

    mask-image: linear-gradient(to right, black, transparent)
}

.carousel__button-bg--flash {
    z-index: 2;

    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), #00000000)
}

.carousel__button-contents {
    display: flex;
    z-index: 3;

    flex-direction: column;
    justify-content: center;

    pointer-events: none;
}