@use 'layer';

.carousel__swipe-indicator {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.carousel__swipe-indicator-animator {
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: end;
    
    background-color: black;
}