.carousel {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel__buttons {
    display: flex;
    flex-direction: row;
;
    width: 100%;
    height: 100%;
}

.carousel__button-container {
    display: flex;
    flex-direction: row;

    width: 50%;
    height: 100%;
}

.carousel__button-container--left {
    justify-content: start;
}

.carousel__button-container--right {
    justify-content: end;
}