@use 'mixins' as *;

.carousel {
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.carousel__controls {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 2;
    pointer-events: none;
}

.carousel__control {
    width: 100%;
    height: 100%;
}

.carousel__control--buttons {
    display: none;

    @include breakpoint(lg) {
        display: block;
    }
}

.carousel__control--swipes {
    display: block;

    @include breakpoint(lg) {
        display: none;
    }
}

.carousel__slides {
    width: 100%;
    height: 100%;

    z-index: 1;
}

.carousel__slide-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel__slide {
    position: absolute;

    width: 100%;
    height: 100%;

    overflow: hidden;
}