@use 'layer';

.carousel {
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;
    touch-action: none;
}

.carousel__controls-container {
    @extend .layer;

    z-index: 2;
    pointer-events: none;
}

.carousel__slide-dots-container {
    @extend .layer;

    display: flex;
    z-index: 3;

    flex-direction: column;
    justify-content: end;
    pointer-events: none;
}

.carousel__slides {
    width: 100%;
    height: 100%;

    z-index: 1;
}

.carousel__slide-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel__slide {
    position: absolute;

    width: 100%;
    height: 100%;

    overflow: hidden;
}