.carousel {
    position: relative;
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.carousel__buttons-layer {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 1;
}

.carousel__slides {
    width: 100%;
    height: 100%;

    z-index: 0;
}

.carousel__slide-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel__slide {
    position: absolute;

    width: 100%;
    height: 100%;

    overflow: hidden;
}