.carousel__button {
    display: flex;
    height: 100%;
    
    padding: 0;

    border: 0;
    background-color: transparent;

    pointer-events: all;
    cursor: pointer;
}

.carousel__button-flash {
    display: flex;

    flex-direction: column;
    justify-content: center;

    background-image: linear-gradient(to right, black 0%, transparent 100%);

    pointer-events: none;
}