.carousel__button {
    display: flex;

    flex-direction: column;
    justify-content: center;

    border: 0;
    background-color: transparent;
    background-image: linear-gradient(to right, black 0%, transparent 100%);

    pointer-events: all;
    cursor: pointer;
}